.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.pink {
    background-color: pink;
}

.purple {
    background-color: purple;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.blue-text {
    color: blue;
}

.green-text {
    color: green;
}

.pink-text {
    color: pink;
}

.purple-text {
    color: purple;
}

.white-text {
    color: white;
}

.black-text {
    color: black;
}

.christmas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url('https://source.unsplash.com/random/?christmas');
    background-size: cover;
    

}

.fourth_of_july {
    background-image: url('https://source.unsplash.com/random/?fourth of july');
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.thanksgiving {
    background-image: url('https://source.unsplash.com/random/?thanksgiving');
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.valentines {
    display: flex;
    background-image: url('https://source.unsplash.com/random/?valentines');
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.background_block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 300px;
    
}

#addcard {
    display: flex;
    flex-direction: row;
    border-collapse: collapse;
}

#preview {
    flex-direction: column;
    float: left;
    padding: 10px;
    width: 47%;
    border: 1px solid gray;
}
#output {
    height: 700px;
    width: 500px;
    border: 1px solid black;
    margin: 25px;
}

#cardform {
    flex-direction: column;
    float: right;
    padding: 10px;
    width: 47%;
    border: 1px solid gray;
}

button {
    margin: 10px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 20px;
    cursor: pointer;
}

button#submit {
    width: 100px
}
.input-field {
    margin-bottom: 15px;
    text-align: left;
}

input {
    margin-top: 5px;
}

h4 {
    font-size: 3em;
}

.sans-serif {
    font-family: Arial, Helvetica, sans-serif;
}

.serif {
    font-family: Garamond, "Courier New", serif;
}
