.App {
  text-align: center;
}

.App-header {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 20px;
  color: black;
  margin-left: 15px;
}

.gallery_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  margin: 0px 92px
}

.card_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 15px;
}

.cards_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card_details {
  height: 350px;
  width: 250px;
  border: 1px solid black;
}

.card_detail_button {
  height: 35px;
  
}

nav {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  align-items: center;
  height: 44px;
  
}

.greetery_navbar {
  display: flex;
  justify-content: space-between;
  width: 160px;
  margin-left: 10px;
  margin-bottom: 0px;
}

.home_profile_navbar {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 160px;
}

a {
  color: black
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.pink {
  background-color: pink;
}

.purple {
  background-color: purple;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}